/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* CSS Files */
@import url(./css/LoaderStyle.css);
@import url(./css/HeaderStyle.css);
@import url(./css/CommingSoonStyle.css);
@import url(./css/FootballMainStyle.css);

body {
  font-family: 'Inter', sans-serif;
  background-image: url(./img/wallpaper.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.hidden {
  display: none;
}